@page "/soundRecorder"

<h3>SoundRecorder</h3>

<h2>Welcome to sound recorder.</h2>

<p>Is Recording: @_isRecording</p>
<button class="@(_isRecording ? "btn btn-danger" : "btn btn-primary")" @onclick="RecordSound">@(_isRecording ? "Recording.." : "Record me")"</button>